.titulo_home{
  font-weight: lighter;
  font-size: 2.75rem;
  color: #FD2270;
  line-height: 2.5rem;
  margin: 0 auto;
  
}
.dados{
  white-space: normal;
}
.dados h2{
  font-size: 2.4375rem;
  font-weight: bold;
}
.dados hr{
  margin: 0px 80px 0 -50px;

}
.dados h1{
  font-weight: bold;
  width: fit-content;
  margin: 0;
  padding: 0;
  white-space: normal;
  
}
.destaque_num{
  flex-grow: initial;
  white-space: nowrap;
}
.destaque_txt {
  align-self: center;
  font-size: 1.375rem;
  white-space: nowrap;
}
.expositores {
  color:#8481B7;
}
.expositores hr{
  border-top: 2px solid #8481B7;
}
.visitantes {
  color:#44BFBD;
}
.visitantes hr{
  border-top: 2px solid #44BFBD;
}
.conexoes h1, .conexoes h2{
  color:#E3C148;
}
.conexoes {
  color: #5C5D5F;
}
.conexoes hr{
  border-top: 2px solid #E3C148;
}
.gestao h1, .gestao h2{
  color: #F28133;
}
.gestao{
  color: #5C5D5F;
}
.gestao hr{
  border-top: 2px solid #F28133;
}
.inform{
  margin: 80px auto;
  font-size: 2.1875rem;
}
.destaque_amarelo{
  box-shadow: -10px 10px 0px 0px rgba(252,230,60,1);
  background-color: #FFEFD1;
  max-width: 70.75rem;
  text-align: center;
  align-items: center;
  padding: 20px;
}
.destaque_amarelo h3{
  font-size: 35px;
  margin: 0;
  padding: 0;
}
.card_amarelo {
  box-shadow: -10px 10px 0px 0px rgba(252,230,60,1);
  background-color: #FFEFD1;
  width: 300px;
    height: 300px;
    margin-left: 2.25rem;
    margin-bottom: 1rem;
}
.card_azul {
  box-shadow: -10px 10px 0px 0px #18BAAF;
  background-color: #87F6F2;
  width: 300px;
    height: 300px;
    margin-left: 2.25rem;
    margin-bottom: 1rem;
}
.titulo_home{
  margin-top: 90px;
  margin-bottom: 40px;
  text-align: center;
}

.destaque_txt :first-child{
  font-size: 1.75rem;
}
.dados img{
  float: left;
  margin-left: -125px;
}
.visitantes{
  margin-top: 35px !important;
}
.gestao{
  margin-top: 50px !important;
}
.wide{
  max-width: 1375px;
}

.card_amarelo div, .card_azul div{
  display: grid;
  grid-template-columns: 65% 0%;
  font-size: 1.3125rem;
  padding-top: 40px;
  padding-left: 15px;
}
.cards .col:nth-child(even){
  margin-top: 45px;
}
.cards .col h1{
  text-align: center;
  margin-bottom: 0px;
  line-height: 32px;
  color:#FD2270;
  font-weight: bold;
  font-size: 2.4375rem;
}
.full{
  max-width: 1600px;
  width: 100%;
  padding-left: 25px;
}
.video_row{
  text-align: center;
  }
iframe{
  border: 10px solid black;
}

.video_col{
  box-shadow: -10px 10px 0px 0px rgba(252,230,60,1);
  background-color: #FFEFD1;
  height: 637px;
  background-image: url('../../assets/Group-1.png'), url('../../assets/Group 1.png'), url('../../assets/_icon_grafico_barras.png'),url('../../assets/icone_robos.png');
  background-position: 10% 85%, 90% 25%, 10% 15%, 95% 85%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}
.video_row div{
  align-items: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.fale{
  margin: 70px auto;
  text-align: center;
}
.fale h1{
  font-size: 2.1875rem;
}
.patrocinadores{
  text-align: center;
  margin-bottom: 100px;
}
.patrocinadores .row{
  margin-bottom: 60px;
}
.apoio_institucional div{
  align-items: center;
  justify-content: space-around;
}
.banner_home div{
  position: absolute;
  width: 450px;
  height: 192px;
  right: 115px;
}