
:root {
  font-size: 1rem;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #F8F8F8;
}

.App{
  display: flex;
  font-family: 'Roboto', sans-serif;
  max-width: 1600px;
  color: #333;
  margin: 0 auto;
  flex-flow: row wrap;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  background-color: #fff;
}


.pageTitle{
  display: flex;
  align-items: center;
  margin-top: -80px;
}
.pageTitle h1{
  margin-left: 30px;
  font-size: 4.375rem;
  font-weight: bold;
  line-height: 82px;
}
.destaqueAmarelo{
  -webkit-box-shadow: -10px 10px 0px 0px rgba(252,230,60,1);
  -moz-box-shadow: -10px 10px 0px 0px rgba(252,230,60,1);
  box-shadow: -10px 10px 0px 0px rgba(252,230,60,1);

  background-color: #FFEFD1;
  display: flex;
  align-items: center;
  height: max-content;
  padding: 30px;
}
.destaqueAmarelo h1{
  font-size: 1.688rem;
  font-weight: bold;
  line-height: 43px;
}
.resumoCongresso{
  max-width: 1380px;
  margin: 90px 0;
  
}
.destaqueTxt{
  display: flex;
  flex-direction: column;
  min-height: max-content;
  justify-content: space-between;
} 
.congressosTabs{

  border-bottom: 3px solid black;
  background-color: #fff;
  max-width: 98%;
  margin: 0 auto;
}
.congressosTabs a{
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  width: 215px;
  margin: 0 100px;
  border-radius: 0 !important;
  border: 2px solid black !important;
  margin-bottom: 10px !important;
  background-color: rgba(252,230,60,1);

  -webkit-box-shadow: 7px -7px 0px 0px rgba(252,230,60,1), inset 5px -5px 0px 0px rgb(255, 255, 255);;
  -moz-box-shadow: 7px -7px 0px 0px rgba(252,230,60,1), inset 5px -5px 0px 0px rgb(255, 255, 255);
  box-shadow: 7px -7px 0px 0px rgba(252,230,60,1), inset 5px -5px 0px 0px rgb(255, 255, 255);
}
.congressosTabs a.active{
  background-color: #FEB0C8 !important;
  margin-bottom: -3px !important;
  margin-top: 13px !important;
  border-bottom: 0 !important;

  -webkit-box-shadow: 7px -5px 0px 2px rgba(253,34,112,1);
  -moz-box-shadow: 7px -5px 0px 2px rgba(253,34,112,1);
  box-shadow: 7px -5px 0px 2px rgba(253,34,112,1);
}
.congressosTab.active{
  background-color: #F7F7F7;
  border-top: 10px solid #FEB0C8 ;
  margin-bottom: 100px;
}

.auditorio{
  padding: 5px;
  margin-top: 35px;
}
.auditorio .col h1{
  text-transform: capitalize;
  font-size: 2.313rem;
  font-weight: bolder;
  line-height: 38px;
  color: #FD2270;
}

.auditorio .col p{
  font-size: 2.313rem;
  font-weight: light;
  line-height: 38px;
  color: #FD2270;
}



.temasPrincipais .temas{
  background-color: #FFEFD1;
  margin: 0 auto 36px auto;
  border: 16px solid #FFEFD1;
}
.temasPrincipais .temas tbody{
  background-color: #FFF4DF;
}
.temasPrincipais .temas tbody td{
  border-right: 4px solid #FFEFD1;
  border-top:0 ;
}
.temasPrincipais .temas thead th{
  border: none;
}

.temasPrincipais .temas thead th h1{
  font-size: 1.5rem;
  line-height: 27px;
  font-weight: bold;
  white-space: nowrap;
}
.temasPrincipais .temas thead th h2{
  font-size: 1.5rem;
  line-height: 27px;
  font-weight: light;
  white-space: nowrap;
}

.temaCard .col:nth-child(even) {
  margin-top: 80px;
}

.temaCard  .col h1{
  font-size: 2rem;
  font-weight: bold;
  line-height: 38px;
  color:#FD2270;
}
.temaCard .col h2{
  font-size: 2rem;
  font-weight: lighter;
  line-height: 38px;
  color:#FD2270;
}
.descricao{
  font-size: 1rem;
  font-weight: lighter;
  line-height: 24px;
  color:#FD2270 !important;
  text-decoration: underline !important;
}

.temasSecundarios {
  background-color: #FFEFD1;
  width: fit-content;
  margin: 0 auto 36px auto;
  border: 16px solid #FFEFD1;
}

.temasSecundarios thead th{
  border: none;
}
.temasSecundarios tbody{
  background-color: #FFF4DF ;
}
.temasSecundarios tbody td{
  border-right: 4px solid #FFEFD1;
  border-top:0 ;
}
.temasSecundarios h1, .temasSecundarios h2,  .temasSecundarios p{
  color: #000 !important;
}
.temasSecundarios h2{
  font-size: 1.125rem !important;
  line-height: 27px !important;
  font-weight: lighter !important;

}

.temasSecundarios h1{
  font-size: 1.125rem !important;
  line-height: 27px !important;
  font-weight: bolder !important;
}
b{
  font-weight: bold;
}
.desk{
  max-width: 1382px !important;

}
.agenda {
  max-width: 1144px;
  margin: 0 auto;
}

.topoCongresso__container{ 
  display: block;
  /* background: red; */
  width: 1600px;
  height: 180px;
  /* float: left; */
  z-index: 999;
  /* left: 65px; */
  /* position: absolute; */
  margin-left: -124px;
  background: none;
  opacity: 1;
}

.topoCongresso{
  background: url(/static/media/congresso.abd61553.png) center;
  height: 180px;
  opacity: 1;
  width: 1300px;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.above-background {
  display: block;
  width: 1600px;
  height: 180px;
  /* border: 1px solid red; */
  position: absolute;
  margin-left: -150px;
  background: #FFFBD2;
  opacity: 0.95;
}

.home{
  max-width: 1600px;
  padding: 0;
  margin: 0;

}
.banner_home{
  background-color: #FCE63C;
  height: 650px;
  max-width: 1600px;
}
.home .container{
  display: flex;
  justify-content: center;
  flex-direction: column  ;
}
