header#main-header{
  width: 100%;
  height: 60px;
  background-color: #FCE63C;
  font-size: 1.125rem;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header#main-header ul{
  float: left;
}
header#main-header li {
  float: left;
  display: block;
}

header#main-header li a {

  text-align: center;
  padding: 14px 16px;
  color: #000;
  font-size: 0.875rem;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
header#main-header li a:active{
  height: 16px;
  width: 82px;
  color: #FD2270;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 16px;
}

header#main-header button{
    height: 40.52px;
    width: 151px;

}

.header{
  background-color: #FCE63C;
  max-width: none;
  height: 60px;
}
.header nav{
  margin: 0px auto;
}
.header a{
  color: #000 !important;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 100;
  white-space: nowrap;
}
.header a:active{

  color: #FD2270 !important;
  font-size: 0.875rem;
  font-weight: bold;
}
.header button{
  background: none;
  border: none;
  color: #000;
  font-size: 0.875rem;
  font-weight: normal;
  white-space: nowrap;
}
.header button:hover{
  background: none;
  border: none;
  color: #000;
  font-size: 0.875rem;
  font-weight: normal;

}

.header button:active{
  background: none !important;
  border: none !important;
  color: #FD2270 !important;
  text-decoration: underline;
}
.header button img{
  height: 17px;
  margin-right: 10px;
}
.inscrevase{
  font-size: 1.063rem !important;
  color: white !important;
  font-weight: bold !important;
  border: 3px solid black !important;
  width: 195px;
  height: 34px;
  border-radius: unset !important;
  background-color: rgba(253,34,112,1) !important;
  -webkit-box-shadow: 5px -5px 0px 0px rgba(253,34,112,1), inset 3px -3px 0px 0px rgba(254,176,200,1);
  -moz-box-shadow: 5px -5px 0px 0px rgba(253,34,112,1), inset 3px -3px 0px 0px rgba(254,176,200,1);
  box-shadow: 5px -5px 0px 0px rgba(253,34,112,1), inset 3px -3px 0px 0px rgba(254,176,200,1);
  padding: initial;
}
