.footer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #FFEFD1;
  max-height: 100vh;
}
.footer >.row{
  align-items: flex-start;
  margin-top: 4rem;
}
.footer_logo {
  text-align: center; 
}
.nav_footer{
  font-size: 0.875rem;
    white-space: nowrap;
    line-height: 1.125rem;
    display: flex;
    align-items: initial;
    justify-content: space-between;
    color: #000;
    text-transform: capitalize;
}
.nav_footer div{
  margin-left: 1.5rem;
}
.nav_footer h4{
  font-size: 0.875rem;
  font-weight: bold;
  color: #CF4169;
}
.nav_footer a{
  color: #000;
}
@media screen and (max-width: 600px){
  .nav_footer{
    display: none;
  }
}
.category{
  list-style: none;
}
.social th{
  border: none !important;
}
.social a{
  font-size: 2rem;
  color: #CF4169;
}
.icone-info {
  font-size: 1.625rem;
  font-weight: bold;
  white-space: nowrap;
}
.icone-info span{
  color: #CF4169;
}